@import url('https://fonts.googleapis.com/css2?family=Asset&display=swap');

body{
    font-family: "Asset";
    color:black;
    background-color:rgb(253, 197, 219);
}

.thays{
    background-color: rgb(233, 86, 184);
}

.geisiane{ 
    background-color: rgb(243, 136, 211);
}

.emilyn{
    background-color: rgb(243, 130, 215);
}